/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
@keyframes loading{
    from{color: #FFFFFF22}
    to{color: white;}
}
#loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #72D1E9;
    z-index: 900;
    text-align: center;
    padding: 300px 0;
    color: white;
    font-size: 120px;
    animation: loading 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
#menu{
    text-align: center;
    position: fixed;
    z-index: 800;
    background: rgba(0,0,0,0.8);
    width: 40px;
    height: 100%;
    transition: all .5s ease;
    padding: 20px 0;
    color: white;
}
#menu:hover{
    width: 120px;
    background: #002;
}
#menu li{
    font-size: 30px;
    overflow: hidden;
    height: 40px;
    margin: 5px 0;
}
#menu li:hover{
    background: #3A50D1;
}
#menu .active{
    background: #3A50D1;
}
.section{
    text-align: center;
    background: #72D1E9;
    color: white;
}
.chart{
    height: 100%;
    width: 100%;
}
#index_main{
    position: absolute;
    top:200px;
    left: 0;
    right: 0;
}
#index_main h1{
    font-size: 180px;
    margin-bottom: 50px;
}