/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
@keyframes loading{
    from{color: #FFFFFF22}
    to{color: white;}
}
#loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #72D1E9;
    z-index: 900;
    text-align: center;
    padding: 300px 0;
    color: white;
    font-size: 120px;
    animation: loading 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
#menu{
    text-align: center;
    position: fixed;
    z-index: 800;
    background: rgba(0,0,0,0.8);
    width: 40px;
    height: 100%;
    transition: all .5s ease;
    padding: 20px 0;
    color: white;
}
#menu:hover{
    width: 120px;
    background: #002;
}
#menu li{
    font-size: 30px;
    overflow: hidden;
    height: 40px;
    margin: 5px 0;
}
#menu li:hover{
    background: #3A50D1;
}
#menu .active{
    background: #3A50D1;
}
.section{
    text-align: center;
    background: #72D1E9;
    color: white;
}
.chart{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    width: 1300px;
    top:200px;
    margin: 0 auto;
}
.main h1{
    font-size: 180px;
    margin-bottom: 50px;
}
.main .input font{
    width: 10%;
}
.main .input input{
    width: 88%;
}
.fp-slide{
    float: left;
}
.fp-slides{
    position: absolute;
    width: 100%;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: 25%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 55px;
    width: 0;
    border-width: 70px 60px 70px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 70px 0 70px 60px;
    border-color: transparent transparent transparent #fff;
}