/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
@keyframes loading{
    from{color: #FFFFFF22}
    to{color: white;}
}
/* loading */
#loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #72D1E9;
    z-index: 900;
    text-align: center;
    padding: 300px 0;
    color: white;
    font-size: 120px;
    animation: loading 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    transition: all .5s ease;
}
/* menu */
#menu{
    text-align: center;
    position: fixed;
    z-index: 800;
    background: rgba(0,0,0,0.8);
    width: 40px;
    height: 100%;
    transition: all .5s ease;
    padding: 20px 0;
    color: white;
}
#menu:hover{
    width: 130px;
    background: #002;
}
#menu li{
    font-size: 30px;
    overflow: hidden;
    height: 40px;
    margin: 5px 0;
}
#menu li:hover{
    background: #3A50D1;
}
#menu .active{
    background: #3A50D1;
}
#menu #sing_out{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
/* general */
.chart{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    width: 1300px;
    top:200px;
    margin: 0 auto;
}
.main h1{
    font-size: 180px;
    margin-bottom: 50px;
}
.main .input font{
    width: 10%;
}
.main .input input{
    width: 88%;
}
/* disk */
#disk_main{
    height: 100%;
    width: 100%;
    padding-top: 60px;
    font-size: 50px;
}
#disk_main h1{
    margin-bottom: 25px;
}
#disk_main .disk{
    text-align: left;
    margin: 10px -50px 10px 150px;
    padding: 15px;
    font-size: 25px;
    border: 2px white solid;
    border-radius: 10px;
    width: 35%;
    float: left;
}
/* full page */
.section{
    text-align: center;
    background: #72D1E9;
    color: white;
}
.fp-slide{
    float: left;
}
.fp-slides{
    position: absolute;
    width: 100%;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: 25%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 55px;
    width: 0;
    border-width: 70px 60px 70px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 70px 0 70px 60px;
    border-color: transparent transparent transparent #fff;
}
/* file */
.file_main {
    width: 86%;
    margin-left: 7%;
    overflow: auto;
    height: 85%;
    border: 1px white solid;
    background: #00000011;
}
.file_menu {
    margin-top: 10px;
}
.file_input {
    border: 1px white solid;
    padding: 3px;
    border-radius: 3px;
}
.file_dialog {
    position: relative;
    top: -500px;
    background: #72D1E9;
    padding: 15px;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px white solid;
    overflow: hidden;
}
.file_dialog .button {
    margin: 10px auto;
}
.file_dialog .input {
    margin: 0 auto;
}
.file_op {
    width: 100%;
    height: 50px;
    padding: 0 135px;
}
.file_op .button {
    margin: 0 15px;
    display: inline-block;
    float: left;
    width: auto;
}
.file_file {
    width: 80px;
    height: 128px;
    display: block;
    float: left;
    margin: 2px 2px 2px;
    text-align: center;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: hidden;
}
.file_image{
    width: 70px;
    height: 70px;
    display: block;
    margin: 5px;
    background: aquamarine;
    padding-top: 5px;
    text-shadow: 1px 1px 1px #888888;
    border-radius: 3px;
}
.select_file .file_image {
    background: burlywood;
}
#desktop_img {
    height: 100%;
    object-fit: cover;
}
#user_main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 10%;
    height: 80%;
}
#user_title {
    font-size: 70px;
    width: 100%;
}
#user_list_main {
    width: 1200px;
    height: 80%;
}
#user_list_left {
    width: 980px;
    display: inline-block;
    float: left;
    height: 100%;
}
#user_op {
    display: inline-block;
    float: right;
    width: 210px;
    padding-top: 25px;
    height: 100%;
}
#user_op .button {
    margin: 5px;
    display: inline-block;
    width: 135px;
}
#user_op .unable {
    background: #EEEEEE;
    cursor: default;
}
#user_list {
    border: 1px white solid;
    height: 95%;
    font-size: 25px;
    overflow: auto;
    width: 980px;
}
#user_info_title {
    font-size: 20px;
    width: 97%;
}
.user_info {
    background: #FFFFFF22;
    cursor: default;
    padding-right: 3%;
    height: 35px;
}
.user_info:hover {
    background: #00000022;
    border-bottom: 1px aquamarine solid;
    border-top: 1px aquamarine solid;
}
.user_info_name {
    display: inline-block;
    width: 270px;
    float: left;
}
.user_info_id,.user_info_power {
    display: inline-block;
    width: 85px;
    float: left;
}
#user_list .select {
    background: #00000022;
    border-bottom: 1px aquamarine solid;
    border-top: 1px aquamarine solid;
}
#user_div, #user_reset_password_div, #user_add_user_div {
    position: relative;
    top: -500px;
    background: #72D1E9;
    padding: 15px;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px white solid;
    overflow: hidden;
    font-size: 20px;
}
#user_add_user_div .input {
    margin: 25px auto;
}
#user_div div {
    display: inline-block;
}
#user_div_id {
    padding-right: 50px;
}
#user_div .button {
    margin: 8px;
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 2px 25px;
}
#user_div .able {
    background: white;
}
#user_div .able:hover {
    background: #EEEEEE;
    color: white;
}
#user_div .unable {
    background: #EEEEEE;
    color: white;
}
#user_div .unable:hover {
    background: white;
}