/* CSS Document */
#pre,#close{
    position: fixed;
    background: #CCCCCC55;
    color: white;
    font-size: 40px;
    overflow: hidden;
    height: 55px;
    width: 55px;
    padding: 5px;
    text-align: center;
    transition: all .5s ease;
}
#pre:hover,#close:hover{
    background: #CCCCCCFF;
    width: 150px;
    cursor: pointer;
}
#pre{
    left: 0
}
#close{
    right: 0
}
