/* CSS Document */
#main{
    color: white;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    top: 160px;
    text-align: center;
    border: white 3px solid;
    border-radius: 15px;
}
#main h1{
    font-size: 80px;
    margin: 20px;
}
#main .input{
    margin: 25px auto;
}
#err{
    bottom: 0;
    position: absolute;
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: red;
}
#dialog{
    position: fixed;
    width: 100%;
    top: 320px;
    color: white;
    text-align: center;
    z-index: 900;
    background: #72d1e9;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    padding: 20px;
}